// vjs_video_3-dimensions vjs-controls-disabled vjs-touch-enabled
// vjs-workinghover vjs-v7 vjs-playing vjs-has-started vjs-live
// vjs-user-inactive
    // video.vjs-tech -- video html element
    // button.vjs-big-play-button
        // span.vjs-icon-placeholder
        // span.vjs-control-text
    // vjs-error-display vjs-modal-dialog vjs-hidden

.vjs-v7 {
    position: relative;
}
.vjs-hidden {
    display: none !important;
}
.vjs-modal-dialog {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4)
}
.vjs-modal-dialog-description {
    display: none;
}
.vjs-modal-dialog-content {
    text-align: center;
}
button.vjs-big-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px;
    padding: 5px 10px;
}
.vjs-playing button.vjs-big-play-button {
    display: none;
}